.project
    grid-area: project
    background-color: red

.pojects-cont-right , .pojects-cont-left
    width: 100%
    display: flex
    justify-content: space-between
    margin-top: 10px
    .cont-img
        .overlay
            position: relative
            &::before
                content: ''
                position: absolute
                width: 100%
                height: 99%
                background-color: grey
                opacity: .4
                border-radius: 15px
                transition: .5s
            .img-portfolio 
                border-radius: 2px
                width:  35vw
                height: 30vh
                border-radius: 15px
            .sign-img
                color: #ffffff
                position: absolute
                margin-left: 20px
                margin-top: 5px
                font-size: 40px
                text-align: center
            &:hover::before
                opacity: 0




    .cont-sign
        display: flex
        flex-direction: column
        justify-content: space-between
        padding: 0
        width: 40vw
        .sign-project
            margin: 0
            font-size: calc(1rem + 1.23vw)
        .cont-techologi
            display: flex
            flex-direction: row
            justify-content: flex-end
            flex-wrap: wrap
            .techologi
                background-color: $red
                border-radius: 5px
                margin-right: 2px
                margin-top: 2px
                p
                    margin: 0
                    padding: 2px


.pojects-cont-left .cont-sign .cont-techologi
    justify-content: flex-start

@media (min-width: 1024px) and (max-width: 1240px)


@media (min-width: 768px) and (max-width: 1024px)

@media (min-width: 568px) and (max-width: 1024px)

@media (max-width: 568px)
    .pojects-cont-right .cont-sign .sign-project , .pojects-cont-left .cont-sign .sign-project
       
    .pojects-cont-right .cont-img .overlay .img-portfolio, .pojects-cont-left .cont-img .overlay .img-portfolio
        width: 50vw
        height: 22vh

    .pojects-cont-right .cont-sign, .pojects-cont-left .cont-sign
        width: 32vw
    
    .pojects-cont-right .cont-sign .sign-project, .pojects-cont-left .cont-sign .sign-project
        font-size: 1rem