.scils
    .cont-for-other
        .set-skil
            display: flex
            flex-direction: column
            gap:5px
            .cont-title
                background-color: $violet
                display: inline
                width: 95px
                height: 25px
                display: flex
                align-items: center
                justify-content: center
                border-radius: 7px
                .title-ckil
                    font-size: 21px
                    padding: 5px 10px
            .skill-bar
                height: 4px
                width: 891px
                background-color: grey
                display: inherit
                &::before
                    position: absolute
                    content: ""
                    width: 50%
                    height: 4px
                    background-color: $violet
            .cont-technologis
                .cont-techno
                    border: 1px solid $violet
                    display: inline-block
                    .technologi
                        width: 94px
                        height: 65px
                        margin: 13px