
.about
    transform: translateX(-100vw)
    z-index: 1
    .cont-top
        // padding-top: 8vh
    .cont
        background-color: $back2
        // display: grid
        // padding-bottom: 140px
        // grid-gap: 10px
        .cont-header
            display: flex
            justify-content: space-between
        .curcle-img
            width: 50%
            grid-area: curcleImg
            display: inline-block
            animation:  3s ease-in-out 
            animation-name: blah
            img
                border-radius: 50%
                box-shadow: 5px 5px 3px 0 black
                width: 100%
                height: 80%
        .cont-text
            width: 48%
            .block-text
                margin-left: 5%
                p
                   line-height: 6vh    
                   letter-spacing: .4vh
                   font-size: 4.25rem
                   color: $violet
                   margin: 0




@media (min-width: 1240px)
    .top-menu .humb-menu
        display: none

    .top-menu .top-item 
        display: flex

    .about .cont .cont-text .block-text .text-header
        line-height: 8vh

@media (min-width: 1024px) and (max-width: 1240px)
    .about .cont .cont-text .block-text .text-header
        line-height: 9vh


@media (min-width: 768px) and (max-width: 1024px)
    .about .cont .cont-text .block-text .text-header
        line-height: 8vh
        font-size: 3rem

@media (min-width: 568px) and (max-width: 768px)
    .about .cont .cont-text .block-text .text-header
        line-height: 6vh
        font-size: 2.5rem

  

@media (max-width: 568px)
    .about .cont .curcle-img img
        width: 90%
    .top-menu
        height: 6vh
    .about .cont .cont-text .block-text .text-header
        line-height: 3vh
        font-size: 1.8rem

@media (max-width: 330px)
    .about .cont .cont-text .block-text .text-header
        line-height: 2.5vh
        font-size: 1.5rem


