body
    background-color: $back
    font-family: 'Roboto' , sans-serif

.top-menu
    display: block
    height: 80px
    background-color: $black
    display: flex
    justify-content: space-between
    align-items: center
    .humb-menu
        font-size: 20px
        color: $white
        margin-left: 140px
        display: none

    .logo
        font-size: 20px
        color: $white
        margin-left: 3%
    .top-item
        font-size: 16px
        display: flex
        color: #FFFFFF
        p
            margin-right: 105px
            transition: 1s
            &:hover
                color: $violet

.about
    .cont-for-other
        background-color: $back2
        display: grid
        padding-bottom: 140px
        grid-gap: 10px
        .cont-header
            display: flex
            justify-content: space-between
        .curcle-img
            grid-area: curcleImg
            display: inline-block
        
            img
                border-radius: 50%
                box-shadow: 5px 5px 3px 0 black
                width: 40vw
        .cont-text
            width: 40vw
            .block-text
                border: 1px solid $violet
                box-shadow: 5px 5px 3px 0 black
                padding: 2%
                p
                   font-size: calc(1rem + 1.23vw)


//----------------------

//media-------------------------------------------------
//monitor
@media (min-width: 1240px)
    .block-text
        margin-left: 1%
        .heading-close
            display: none

//tablet ----------------
    @media (min-width: 1024px) and (max-width: 1240px)
    .top-menu
        .logo
            // margin-left: 2%
        .top-item
            p
                margin-right: 94px

    .about .cont .curcle-img img
        width: 330px
    .heading
        margin-left: 0
        background-color: red

//phablet
@media (min-width: 768px) and (max-width: 1024px)
    .top-menu
        height: 40px
        .logo
            margin-left: 3%
        .humb-menu
            display: block
            margin-right: 3%
        .top-item
            display: none

    .about
        .cont
            padding: 0 15px
            align-items: stretch
            justify-items: center
            grid-template-columns: 1fr
            grid-auto-rows: auto
            grid-template-areas: " heading " " curcleImg " " textblock1 " " textblock2 " "textblock3 " "heading-close"
            .heading ,.heading-close
                font-size: 24px
                margin-left: -7%
                background-color: #78909c
            .curcle-img
                img
                    width: 200px
                    height: 200px
            .block-text
                p
                    font-size: 14px

@media (min-width: 568px) and (max-width: 1024px)
    .top-menu
        height: 30px
        .logo
            margin-left: 3%
        .humb-menu
            display: block
            margin-right: 3%
        .top-item
            display: none

    .about
        .cont
            height: 100vh
            padding: 0 15px
            align-items: stretch
            justify-items: center
            grid-template-columns: 1fr
            grid-auto-rows: auto
            grid-template-areas: " heading " " curcleImg " " textblock1 " " textblock2 " "textblock3 " "heading-close"
            .heading ,.heading-close
                display: block
                font-size: 24px
                margin-left: -7%
                background-color: #78909c
            .heading-close
                margin-bottom: 4%
            .curcle-img
                img
                    width: 200px
                    height: 200px
            .block-text
                p
                    font-size: 14px

@media (max-width: 568px)
    body
        .top-menu
            height: 30px
            .logo
                margin-left: 3%
            .humb-menu
                display: block
                margin-right: 3%
            .top-item
                display: none

.about .cont-for-other .cont-text .block-text p
    font-size: 14px