.heading ,.heading-close
    font-size: 36px
    color: gold
    position: relative
    margin-left: 40px
    font-family: Roboto
    margin: 30px 0
    &::before
        content: '<'
        color: #ffffff
        margin-right: 3px
    &::after
        content: '>'
        color: #ffffff
        margin-left: 3px


.heading-close
    display: none