@import "~normalize.css"
@import "roboto.css"

$gold: #D29A0B
$black: #181818
$back: #41414A
$back2: #1C1C1D 
$white: #FFFFFF
$violet: #DD2DE0
$red: #C73838



body
    background-color: $back
    font-family: 'Roboto' , sans-serif

.top-menu
    display: block
    height: 10vh
    background-color: $black
    display: flex
    justify-content: space-between
    align-items: center
    .humb-menu
        font-size: 20px
        color: $white
        margin-left: 140px
        display: none

    .logo
        font-size: 20px
        color: $white
        margin-left: 140px
    .top-item
        font-size: 16px
        display: flex   
        color: #FFFFFF
        p
            margin-right: 105px
            transition: 1s
            &:hover
                color: $violet

.about
    .cont
        height: 90vh
        background-color: $back2 
        display: grid
        padding-bottom: 140px
        grid-template-columns: 1fr 4fr 6fr 1fr
        grid-auto-rows: auto
        grid-gap: 10px
        grid-template-areas:  ".  heading . ." ". curcleImg textblock1 ." ". curcleImg textblock2 ." ". . textblock3 ." 
        .heading
            grid-area: heading
            font-size: 36px
            color: gold
            position: relative
            margin-left: 40px
            font-family: Roboto
            margin-bottom: 0
            &::before
                content: '<'
                position: absolute
                left: -28%
                display: block
                width: 25px
                height: 25px
                color:#ffffff
            &::after
                content: '>'
                position: absolute
                left: 108%
                top: 0
                display: block
                color:#ffffff
        .heading-close
            grid-area: heading-close
            font-size: 36px
            color: $gold
            position: relative
            margin-left: 40px
            font-family: Roboto
            &::before
                content: '< /'
                width: 60px
                position: absolute
                left: -40px
                display: block
                color:#ffffff
            &::after
                content: '>'
                position: absolute
                left: 100px
                top: 0
                display: block
                color:#ffffff
        .curcle-img
            grid-area: curcleImg
            display: inline-block
            img
                border-radius: 50%
                box-shadow: 5px 5px 3px 0 black
        .block-text
            border: 1px solid $violet
            box-shadow: 5px 5px 3px 0 black
            padding: 2%
            p
                font-size: 21px
        .block-text1
            grid-area: textblock1
        .block-text2
            grid-area: textblock2
        .block-text3
            grid-area: textblock3
        .heading-close
            grid-area: heading-close

@media screen and (max-width: 992px) 
    body 
        .top-menu
            height: 40px
            .logo
                margin-left: 3%
            .humb-menu
                display: block
                margin-right: 3%
            .top-item
                display: none

        .about
            .cont
                padding: 0 15px
                align-items: stretch
                justify-items: center
                grid-template-columns: 1fr 
                grid-auto-rows: auto
                grid-template-areas:  "  heading  " " curcleImg  " "  textblock1 " " textblock2 " "textblock3 " "heading-close"
                .heading ,.heading-close
                    font-size: 24px
                    margin-left: -7%
                .curcle-img
                    img
                        width: 200px
                        height: 200px
                .block-text
                    p
                        font-size: 14px
  


@media screen and (max-width: 414px) 
    body 
        background-color: green
        .top-menu
            .top-item
                display: none
        .about
            .cont
                padding: 0 15px
                align-items: stretch
                justify-items: center
                grid-template-columns: 1fr 
                grid-auto-rows: auto
                grid-template-areas:  "  heading  " " curcleImg  " "  textblock1 " " textblock2 " "textblock3 "
                .heading
                    font-size: 24px
                .curcle-img
                    img
                        width: 150px
                        height: 150px
                .block-text
                    p
                        font-size: 14px