
@import "~normalize.css"


body
    background-color: #41414A

.top-menu
    height: 115px
    background-color: #181818
    display: flex
    justify-content: space-between
    align-items: center
    .logo
        font-size: 20px
        color: #FFFFFF
        margin-left: 1px
    .top-item
        font-size: 16px
        display: flex   
        color: #FFFFFF
  
        p
            margin-right: 105px


.about
    .cont
        margin: 0 20px 0 20px
        background-color: grey
        display: grid
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr
        .heading
            font-size: 36px
        .curcle-img
            display: inline-block
            img
                width: 395px
                height: 370px
                border-radius: 50%
                border: 1px solid #000
        .block-text
            width: 690px
            height: 200px
            border: 1px solid #000
            p
                font-size: 21px